{% extends "layout/base.html" %}

{% block 'title' %}
Genders List
{% endblock 'title' %}


{% block 'content' %}
{% include "include/Sidebar.html" %}

<div class='p-2 sm:ml-64 mt-16 md:mt-14'>
	{% include "include/ToastMessage.html" %}
	<div class="relative overflow-x-auto rounded-t-xl shadow-xl">
		<table class="w-full">
			<thead class="text-xs text-left text-white bg-blue-600 ">
				<tr>
					<th class="px-6 py-3">Gender</th>
					<th class="px-6 py-3">Action</th>
				</tr>
			</thead>
			<tbody class ="text-xs text-black">
				{% for gender in genders  %}
				
					<tr class='hover:bg-gray-200 border-b border-gray-200'>
						<td class='px-6 py-3'>{{ gender.gender}} </td>
						<td class='px-6 py-3'>
							<div class='inline-flex shadow-sm'>
								<a href="/genders/edit/{{ gender.gender_id }} " class="bg-green-500 px-3 py-2.5 font-medium text-white rounded-md hover:bg-green-700 hover:outline-none">Edit</a>
								<a href="/genders/delete/{{gender.gender_id}}" class="bg-red-500 px-3 py-2.5 font-medium text-white rounded-md hover:bg-red-700 hover:outline-none">Delete</a>
							</div>
						</td>
					</tr>

				{% endfor %}

			</tbody>
		</table>
	</div>
</div>



{% endblock 'content' %}